<div id="backgroundbox"></div>
<div id="box">
    <p>Bist du dir sicher, dass du dieses Element von deiner List löschen möchtest:</p>
    <p id="objectName">1 Gramm Apfel</p>
    <div id="cancelButton" onmousedown="closeDeleteMenu()"><p>Abbrechen</p></div>
    <div id="deleteButton2" onmousedown="closeDeleteMenu()"><p>Löschen</p></div>
</div>