<div id="search">
    <div id="searchbar">
        <img src="assets/search.png" id="searchicon">
        <input id="input" onkeyup="inputSend()" autocomplete="off">
    </div>
    <div id="cancel" onmousedown="closeSearch()">
        <p>Abbrechen</p>
    </div>
    <div id="items">
    </div>
</div>