body {
    background-color: black;
}

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

#backgroundImage {
    background-image: url(background.jpg);
    filter: blur(8px);
    -webkit-filter: blur(3px);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -10;
    margin-top: -10px;
    
}

#loginBox {

    width: 300px;
    height: 200px;
    margin: 0 auto;
    padding-top: 70px; 
    
}

#loginBox p{
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#loginBox h1 {
    margin-bottom: 15px;
}

#loginInput {
    width: 98%;
    height: 30px;
}

#loginButton {
    background-color: rgb(250, 225, 86);
    width: 70%;
    margin-left: 15%;
    height: 25px;
    margin-top: 40px;
    font-weight: 700;
    
    
}

#secondBox {
    background-color: white;
    height: 250px;
    padding: 6%;
}

#boxMore {
    height: 50px;
    width: 100%;
    background-color: aqua;
    margin-top: 300px;
    position: fixed;
    top: 50%;
}

#loginBox img {
    width: 100px;
    margin-left: 100px;
}

#textMore {
    color: white;
    text-align:  center;
    padding-top: 20px;
}

































